:root {
    --var-bg-footer: #282828;
    --var-caption-text: #717171;
    --var-black: #000000;
    --var-bg-upgrade: #080b12;
    --var-bg-main: 141922;
    --var-hover: #adff2f;

}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
 .wrapper {
    height: 100vh;
    flex-direction: column;
 }

 .caption {
    font-weight: 500;
    color: var(--var-caption-text);
 }

 header, main {
    height: calc(100vh - 100px);
 }

 img {
    max-width: 100%;
 }

 ul {
    list-style-type: none;
 }
 a {
    text-decoration: none;
 }

/* Utilities */

.d-flex {
    display: flex;
}


.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* #region header */
header {
    width: 225px;
    background-color: var(--var-black);
    padding: 1rem;
    flex-direction: column;
}

header >* {
    width: 80%;
    padding-bottom: 1rem;
    
}
header h3 {
    color: white;
}

header ul li:hover a {
    color: white;
}

#site_nav ul li a i {
    font-size: 1.3rem;
}

header #site_nav ul li:hover a i {
    color: wheat;
}
header ul li {
    padding: 0.4rem 0;
}

header ul li a i {
    margin-right: 0.3rem;
}

ul li .create {
    font-size: 1.1rem;
}


/* #endregion */

/* #region main */
main {
    flex-grow: 1;
}

/* #endregion */

/* #region footer(audio_player) */
footer {
    height: 100px;
    background-color: var(--var-bg-footer);
    color: white;

}

.footer_left, .footer_right {
    flex-basis: 20%;
}

.footer_center {
    flex-grow: 1;
}

.footer_left {
    justify-content: space-around;
}

.footer_left img {
    max-width: 30%;
    object-fit: contain;
    
}

.footer_left .song_name{
    display: inline-block;
    align-self: center;
    padding: 1rem;
    font-weight: 600;
    
}

.footer_left .song_name .caption {
    font-size: 0.8rem;
    
}

.footer_left .song_details {
    flex-basis: 50%;
}

.like_n_folder >* {
    align-self: center;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

.footer_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio_player {
    text-align: center;
    width: 80%;
}

.audio_controls >* {
    vertical-align: middle;
}

.audio_controls >*:not(.fa-play) {
    padding: 0 0.5rem;
}

.audio_controls .fa-play {
    padding: 0 2rem;
    font-size: 1.5rem;
}

#audio_bar {
    width: 80%;
    margin-top: 1.5rem;
}


.footer_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.footer_right >*:not(.volume) {
    padding: 0 1rem;
}

.volume {
    flex-grow: 1;
}

.volume i {
    display: inline-block;
    
}

.volume .volume_bar {
    flex-basis: 80%;
}

/* #endregion */





/*
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    visibility: hidden;
}*/


/* #region debug */

.debug {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}


.debug header {
    background-color: green;
    content: "NAVBAR";
    
}

.debug header::after {
    content: "NAVBAR";
}

.debug main {
    background-color: red;
}

.debug main::after {
    content: "MAIN";
}

.debug footer {
    background-color: yellow;
    
}

.debug footer::after {
    content: "FOOTER";
}
/* #endregion */


/* responsive - dekstop first */

@media screen and (max-width: 1200px) {
    
}


@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {

    html {
        font-size: 10px;
    }
    header {

        width: 80px;
    }
}