:root {
    --var-bg-footer: #282828;
    --var-caption-text: #717171;
    --var-black: #000000;
    --var-bg-upgrade: #080b12;
    --var-bg-main: #141922;
    --var-hover: #adff2f;

}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
}

 .wrapper {
    height: 100vh;


 }

 .caption {
    font-weight: 400;
    color: var(--var-caption-text);
 }

 .caption:hover {
    color: white;
    cursor: pointer;
 }

 .top {
   height: calc(100vh - 100px);
    
 }

 
 img {
    max-width: 100%;
 }

 ul {
    list-style-type: none;
 }
 a {
    text-decoration: none;
 }

/* Utilities */

.d-flex {
    display: flex;
}


.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* #region header */
header {
    width: 275px;
    background-color: var(--var-black);
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    min-height: fit-content;
    
   
    
   
}

header >*:not(picture) {
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
      
    
}

header picture {
    width: 70%;
    height: fit-content;
    padding-bottom: 1rem;
}

#site_nav ul li a i {
    font-size: 1.3rem;
}

header ul li {
    padding: 0.4rem 0;
}

header ul li h3 {
    font-weight: 500;
}

header .playlist {
    overflow-y: auto;
    height: fit-content;
}

header .playlist li {
    font-size: 0.9rem;

}

header i, .profile img {
    margin-right: 0.5rem;
}

ul li .create {
    font-size: 1.1rem;
}

.playlist {
    flex-grow: 1;
}

header ul li:hover a i {
    filter: brightness(95%);
}

.profile, .header_bottom .install  {
    display: flex;
    align-items: center;
}

.header_bottom {
    align-self: flex-end;
}

.header_bottom >* {
    margin-top: 1rem;
}

.profile {
    font-weight: 600;
}

.profile img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--var-caption-text);
    object-fit: contain;
}




/* #endregion */

/* #region main */
main {
    flex-grow: 1;
}

.call_to_action{
    height: 80px;
    background-color: var(--var-bg-upgrade);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    
    
}

.call_to_action a {
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 24px;
}

.container {
    background-color: var(--var-bg-main);
    padding: 1rem;
    height: calc(100% - 80px);
    overflow: auto;
    
    
    
}

.music {
    max-width: 1440px;
}

.discover {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.discover .caption {
    padding: 1rem;
    font-weight: 500;
    
}

.discover .caption hr {
    display: none;
}

.discover .caption:hover {
    color: white;
    cursor: pointer;
}

.discover .caption:hover hr {
    display: block;
    margin:0 auto;
    width: 60%;
    border-color: var(--var-hover);
    border-width: 2px;
    border-radius: 10px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.container .caption {
    display: inline-block
}

.container .row .caption:hover {
    cursor: default;
    color: var(--var-caption-text);
}

.title {
    margin: 1.5rem 0 1rem 0;
}

.title, .container .caption {
    padding-left: 0.5rem;
}

.box {
    width: calc(100%/6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.box span, .box h3{
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;

}
.box img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.box.radius img {
    border-radius: 50%;
    object-fit: cover;
}


/* #endregion */

/* #region footer(audio_player) */
footer {
    height: 100px;
    background-color: var(--var-bg-footer);
    padding: 0.8rem;
    justify-content: space-between;
    

}



 .footer_left, .footer_right {
    width: 250px;
}


.footer_left img{
    object-fit: contain;
    max-width: 50%;
}


.footer_left .song {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0;
   
    
}



.footer_left .song_name{
    align-self: center;
    display: inline-block;
    margin-left: 1rem;
    font-weight: 600;
    
}

.footer_left .song_name .caption {
    font-size: 0.8rem;

    
}

.footer_left .song_name .caption:hover {
    text-decoration: underline;
}





.like_n_folder {
    align-items: center;
   
    
}


.like_n_folder >* {
    padding: 0 0.5rem;
    font-size: 1.2rem;

}

.footer_center {
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio_player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.audio_controls >* {
    vertical-align: middle;
}

.audio_controls >*:not(.fa-play) {
    padding: 0 0.5rem;
}

.audio_controls .fa-play {
    padding: 0 2rem;
    font-size: 1.5rem;
}

#audio_bar {
    width: 80%;
    margin-top: 1.5rem;
}


.footer_right {
    display: flex;
    align-items: center;
    
}

.footer_right >*:not(.volume) {
    padding: 0 0.5rem;
}

.volume {
    flex-grow: 1;
}

.volume i {
    display: inline-block;
    
}

.volume .volume_bar, .audio_bar {
    position: relative;
    height: 5px;
    background-color: white;
    border-radius: 18px;
}

.volume .volume_bar {
    flex-basis: 100%;
    margin-left: 0.5rem;
}

.audio_bar {
   width: 60%;
   margin-top: 1.5rem;
}

.audio_bar .left, .audio_bar .right {
    position: absolute;
    display: inline-block;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.audio_bar .left {
    bottom: 50%;
    right: 100%;
    translate: 0 50%;
}

.audio_bar .right {
    bottom: 50%;
    left: 100%;
    translate: 0 50%;
}


.volume .volume_bar:hover .thumb, .audio_bar:hover .thumb {
    display: block;
}

.volume_bar:hover, .audio_bar:hover {
    background-color: var(--var-hover);
}

.overlay_bar{
    position: absolute;
    right: 0;
    height: 5px;
    width: 60%;
    background-color: var(--var-caption-text);
    border-radius: 18px;
}

.volume_bar .thumb, .audio_bar .thumb {
    display: none;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    bottom: 50%;
    translate: 0 50%;
    
}



/* #endregion */







/* #region debug */

.debug {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}


.debug header {
    background-color: green;
    content: "NAVBAR";
    
}

.debug header::after {
    content: "NAVBAR";
}

.debug main {
    background-color: red;
}

.debug main::after {
    content: "MAIN";
}

.debug footer {
    background-color: yellow;
    
}

.debug footer::after {
    content: "FOOTER";
}
/* #endregion */


/* responsive - dekstop first */

/* lg-md */
@media  screen and (max-width: 1200px) {
    .box {
        width: calc(100%/4);
    }
}

/* md-s */
@media screen and (max-width: 992px) {
    header picture {
        width: 100%;
    }

    .box {
        width: calc(100%/2);
    }

    .footer_left, .footer_right {
        max-width: 12.5rem;
    }

    .like_n_folder {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .like_n_folder >* {
        padding: 0.5rem 0;
    }
    
}

/* s-xs */
@media screen and (max-width: 768px) {
    
    
     /* #region header */
     header {

        width: 80px;
    }

    header ul li {
        padding: 1rem 0;
    }

    

    .toggle {
       display: none;
    }

    #site_nav {
        flex-grow: 1;
    }

    header, #site_nav, .header_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #site_nav ul li a i {
        font-size: 2rem;
    }

    #site_nav ul li a i, .header_bottom i {
        margin-right: 0;
    }

    .header_bottom i {
        font-size: 1rem;
    }

    .header_bottom img {
        
        margin-right: 0;
    }
    /* #endregion */
    

    

    .call_to_action {
        height: 80px;
    
    }
    
    
    .footer_center .audio_controls .fa-play{
        padding: 0 0.8rem;
    }
    
}

@media screen and (max-width:640px) {
    html {
        font-size: 12px;
    }

    .profile img {
        width: 1rem;
        height: 1rem;
    }

    .row {
        padding-bottom: 5rem;
    }

    .mobile_toggle {
        display: none;
    }

    .footer_left, .footer_right {
        max-width: 8rem;
    }

    .footer_left .song_name {
        font-size: 0.8rem;
    }
    
    .footer_left .song_name .caption {
        font-size: 0.6rem;
    }

    .audio_controls > :not(.fa-play){
        padding: 0;
    }

    .audio_controls .fa-shuffle, .audio_controls .fa-arrow-rotate-right {
        padding: 0 0.4rem;
    }
    

    .footer_right{
        flex-wrap: wrap;
        padding: 1rem;
    }

    .footer_right > :not(.volume){
        padding: 0 0.5rem 0 0;
    }

    .footer_right .volume {
        width: 100%;
    }
    
    
    
}

@media  screen and (max-height: 350px) {
    .height_toggle {
        display: none;
    }

    .container {
        height: 100%;
    }
}


    
    
    


